*{
  font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;
	font-size: 19px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 19px;
}
header {
text-align:center;
    background-color:purple;
    font-size: 80px;
    height:100px;
    margin:0;
    border:0 5%;
    padding:0 8%;
}
.table label{
  height:30%;
  weight: 30%;
    margin:10%;
  border: 0 5%;
  padding: 0% 5%
  text-align:left;
}
.table span{
    height:30%;
  width: 30%;
  weight: 30%;
    margin:10%;
  border: 0 5%;
  padding: 0% 5%
  text-align:center;
}
h1{
    background-color:purple;
    text-align:center;
  height: 30px;
  margin-top:0;
}
h1 button {
  background-color:limegreen;
  width: 12%;
  height: 80%;
  display: inline-block;
  padding: 0 5%;
  margin: 0 3%;
  border: 0 5%;
  border-radius: 8px;
  text-align: center;
  
}

.table {
  display:inline-block;
    box-sizing:content-box;
    height:80%;
    width: 60%;
  text-align:left;
  margin:3% 0;
  padding:2% 0%;
   border: 10px solid black;
     display: list-item;
  
  
}
body {
  background-color:cornflowerblue;
    font-size:20px;
}

 body button {
    display: inline-block;
    border: 3px solid black;
    border-radius: 8px;
    float: right;
  }
      
input{
  border: 3px solid black;
  border-radius: 8px;
  position: right;
}


    textarea {
        width:100px;
        height:100px;
    }
ol {
    display:list-item;
}

body div {
  float: right;
  margin-top:15%;
}
 body button {
    display: inline-block;
    border: 3px solid black;
    border-radius: 8px;
 
      }
  body input {
    display: inline-block;
    border: 3px solid black;
    border-radius: 8px;
   
      }



footer {
  display: inline;
    width:100%;
    font-size:30px;
    position:bottom;
}
.footer_links li {
  box-sizing:content-box;
  text-align: left;
  display: inline-block;
  width: 15%;
  height:3px;
  margin: 0;
  padding:2%;
}

@media screen and (min-width: 660px){
    header {
text-align:center;
    background-color:purple;
    font-size: 80px;
    height:100px;
    margin:0;
    border:10% 5%;
    padding:3%;
}
  .table label{
  height:30%;
  weight: 30%;
    margin:10%;
  border: 0 5%;
  padding: 0% 5%
  text-align:left;
}
.table span{
    height:30%;
  width:30%;
  weight: 30%;
    margin:10%;
  border: 0 5%;
  padding: 0% 5%;
  text-align:center;
}
h1{
    background-color:purple;
    text-align:center;
  height:30px;
  padding:1% 0%;
  margin-top: 0;
}
h1 button {
  background-color:limegreen;
  width: 12%;
  height: 70%;
  display: inline-block;
  padding: 0 5%;
  margin: 0 3%;
  border: 0 5%;
  border-radius: 8px;
  text-align: center;
  float: left;
}
  


.table {
  display:inline-block;
    box-sizing:content-box;
    height: 130px;
    width: 700px;
   text-align:left;
  margin:10px;
  padding 10px;
   border: 10px solid black; 
  font-size:12px;
     display: list-item;
  
}
body {
  background-color:cornflowerblue;
    font-size:20px;
}
 body button {
    display: inline-block;
    border: 3px solid black;
    border-radius: 8px;
    float: right;
      }




    textarea {
        width:50%;
        height:60%;
    }
ol {
    display:list-item;
}

body div {
  float: right;
}
 body button {
    display: inline-block;
    border: 3px solid black;
    border-radius: 8px;
 
      }
  body input {
    display: inline-block;
    border: 3px solid black;
    border-radius: 8px;
   
      }



footer {
    text-align:left;
    font-size:30px;
    position:bottom;
}
.footer_links li {
  box-sizing:content-box;
  text-align: left;
  display: inline-block;
  width: 15%;
  height:3px;
  margin: 0;
  padding:2%;
}
     
    @media screen and (min-width: 480px){
   header {
text-align:center bottom;
    background-color:purple;
    font-size: 70%em;
    height:80px;
    border:2% 5%;
    padding-top:8%;
     margin-top:0;
}
      .table label{
  height:30%;
  weight: 30%;
    margin:10%;
  border: 0 5%;
  padding: 0% 5%
  text-align:left;
}
.table span{
    height:30%;
  width:30%;
  weight: 30%;
    margin:10%;
  border: 0 5%;
  padding: 0% 5%;
  text-align:center;
}
h1{
    background-color:purple;
    text-align:center;
    height: 30px;
    margin-top: 0;
    padding-bottom: 3%;
  
}
h1 button {
  background-color:limegreen;
  width: 12%;
  height: 100%;
  display: inline-block;
  padding: 0;
  margin: 0 3% 1% 5%;
  border: 0 5%;
  border-radius: 8px;
  text-align: center;
  
  
}
  


.table{
  display:inline-block;
    box-sizing:content-box;
    height: 50px;
    width: 100%;
   text-align:left;
  margin:2px;
  padding 2% 5%;
   border: 2px solid black; 
  font-size:12px;
  display: list-item;
  
}
body {
  background-color:cornflowerblue;
    font-size:20px;
  }
body div {
  float: right;
}
 body button {
    display: inline-block;
    border: 3px solid black;
    border-radius: 8px;
 
      }
  body input {
    display: inline-block;
    border: 3px solid black;
    border-radius: 8px;
   
      }


textarea {
        width:100px;
        height:100px;
    }
ol {
    display:list-item;
}


footer {
    text-align:center;
    font-size:30px;
    
}
.footer_links li {
  box-sizing:content-box;
  text-align: center;
  display: inline-block;
  width: 15%;
  height:3px;
  margin: 0;
  padding:2%;
}