<CSS>
h2, h3, h4 {
  display:inline-block;
    box-sizing:content-box;
    height: 40px;
    width: 800px;
   align:top;
    margin: 10px;
    padding:10px;
}
body {
  background-color:cornflowerblue;
    font-size:90px;
}
header {
text-align:center;
    background-color:purple;
    font-size: 75px;
    height:100px;
    margin:0;
    border:0;
}

h1{
    background-color:purple;
    text-align:center;
}

    textarea {
        width:100px;
        height:100px;
    }
ol {
    display:list-item;
}
.table {
    display: list-item;
}

footer {
    text-align:center;
    font-size:30px;
    position:bottom;
}